{% assign items = include.items %}
{% assign style = include.style | default: 'masonry' %}
<div class="gallery gallery-{{ style }}">
  {% for item in items %}
    <div class="gallery-item">
      <div class="gallery-image"><img src="{{ item.image | relative_url }}"/></div>
      {% if item.caption %}
        <hr class="gallery-separator" />
        <div class="gallery-caption">{{ item.caption }}</div>
        <hr class="gallery-separator" />
      {% endif %}
    </div>
  {% endfor %}
</div>
{% if style == 'masonry' %}
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
<script>
  var grid = document.querySelector('.gallery-masonry');
  if (grid) {
    var msnry;
    imagesLoaded(grid, function () {
      msnry = new Masonry(grid, {
        itemSelector: '.gallery-item',
        percentPosition: true,
      });
    });
  }
</script>
{% endif %}
