<div class="logos">
  <div class="logo logo-desktop">
    <div class="logo-image">
      <a href="{{ '/' | relative_url }}">
        <img height="28px" width="28px" alt="{{ site.title }} Logo" src="{{ '/assets/images/logo/logo.png' | relative_url }}"/>
      </a>
    </div>
  </div>

  <div class="logo logo-desktop-invert">
    <div class="logo-image">
      <a href="{{ '/' | relative_url }}">
        <img height="28px" width="28px" alt="{{ site.title }} Logo" src="{{ '/assets/images/logo/logo-invert.png' | relative_url }}"/>
      </a>
    </div>
  </div>

  <div class="logo logo-mobile">
    <div class="logo-image">
      <a href="{{ '/' | relative_url }}">
        <img height="28px" width="28px" alt="{{ site.title }} Logo" src="{{ '/assets/images/logo/logo-mobile.png' | relative_url }}"/>
      </a>
    </div>
  </div>

  <div class="logo logo-mobile-invert">
    <div class="logo-image">
      <a href="{{ '/' | relative_url }}">
        <img height="28px" width="28px" alt="{{ site.title }} Logo" src="{{ '/assets/images/logo/logo-invert-mobile.png' | relative_url }}"/>
      </a>
    </div>
  </div>
</div>
