---
layout: default
---
<div class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12">
        {% include heading.html title=page.title description=page.description image=page.image align="left" %}
      </div>
    </div>
  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>

        {% if page.categories and page.categories.size > 0 %}
          <div class="categories">
            {% for category in page.categories %}
              <div class="category-link">
                <a href="{{ '/blog/' | relative_url }}">{{ category | capitalize }}</a>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% include subscribe.html %}
